.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.48);
}

.modal_content {
  padding: 20px;
  width: 300px;
  position: relative;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 8px;
  z-index: 999;
  overflow: hidden;
}

.modal-header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: 24px;
}

.close_modal_window {
  color: #000;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.modal-body {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.8em 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  margin: 25px 20px 20px 20px;
}

.btn.btnPrimary {
  color: #ffffff;
  border: 1px solid #494ce8;
  background-color: #494ce8;
}
